

.container {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 220px;
    padding: 5px;
    border: 2px black solid;
    background-color: #2F2F2F;
}

#display {
    padding: 8px;
    /* border: 2px black solid; */
    text-align: right;
    background-color: #B2B9B7;
    font-family: "Space Mono", monospace;
}


.row {
    display: flex;
    
    justify-content: space-around;
    gap: 5px;
}

button {
    border-radius: 2px;
    border: none;
    padding: 5px;
    font-family: "Space Mono", monospace;
}


#buttons {
    flex: 1;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
}

.row > * {
    flex: 1;
}

.row div {
    display: flex;
    gap: 5px;
}

.row div button {
    flex: 1;
}

.digit {
    background-color: #217C7E;
}

.operator,
#equal {
    background-color: #FF8F1F;
}

.orange {
    background-color: #1E90FF;
}

